body {
    background: blue;
    font-family: "Times New Roman", Georgia, Serif;

    
}


input[type=text] ,input[type=email], input[type=number] , input[type=password], input[type=date] {
    width: 290px;
    height: 27px;
    padding: 4px 10px;
    margin: 6px auto;
    display: block;
}


select {
    width: 315px;
    height: 34px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}
 

button[type=submit]{
    font-weight: bold;
    margin: 10px auto;
    width: 100%;
    height: 50px;
    background: #09c;
    color: #fff;
    font-family: arial;
    font-size:18px;
    border-radius: 20px;
    border: 2px solid #cccccc;
}



button[type=submit]:focus {
    outline:0;
    padding: 4px 13px;
    border: 2px solid blue;
    color:blue;
}



/* invalid / valid */
input:invalid {
     color: red;
}
input:valid {
    color: green;
}



#container { 
    display: block;
    padding: 4px;
    width: 390px;
    margin: 50px auto;
    border: 4px solid #cccccc;
    border-radius: 20px;
}
 

#mainbody {
    display: block;
    margin: 0px auto;
    height:auto;
    width: 350px;
    padding:0px;
    border:0px solid #cccccc;
}

#footer {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      border: 0px solid black;

    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        #footer {
            width: 100px;
            margin: 0 auto;
            text-align: center;
            border: 0px solid black;
      
          }
    }

#logo {
    width: 185px; /* Width of new image */
    height: 146px; /* Height of new image */
    border:0px solid black;
    float:left;
    margin-top: -60px;
}

.title {
    color:blue;
    font-size: 40px; 
    border: 0px solid black;
}

.block { 
    margin: 5px auto; 
}

.submit { 
    margin: 20 auto; 
    border:0px solid black;
}